# dependencies
/node_modules
/src/jspm_packages

# compiled output
.publish
src/build.js
src/build.js.map

# misc
.vscode
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.DS_Store
